P {
color:rgb(255, 5, 5);
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-size: 20pt;
}
body {
    width: 100%;
    margin: 0px;
    background-color: #175c09;
    padding: 0px;
  }
.center {
    margin: 0px 0px 10px 190px;
}
p2 {
color: rgb(255, 255, 255);
}